In [121]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [122]:
#Carga del archivo.csv
data = pd.read_csv("airbnb - Brazil.csv") #, index_col=0
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,1.787800e+04,"Very Nice 2Br in Copacabana w. balcony, fast WiFi",68997,Matthias,NaN,Copacabana,-22.965990,-43.179400,Entire home/apt,350,5,272,23/04/2022,1.87,1,311,8,NaN
1,5.569310e+17,Venha passar uma pernoite em um veleiro na Urca!,198206849,Andréia,NaN,Urca,-22.947810,-43.163510,Private room,280,1,1,19/02/2022,0.25,1,365,1,NaN
2,1.174007e+06,100% Best View In Copa In Suite 2,3962758,Thiago Luiz,NaN,Copacabana,-22.972770,-43.179660,Private room,107,2,177,07/06/2022,1.69,6,357,29,NaN
3,8.410797e+06,Ipanema(Arpoador) 100mdo Mar/ Jan & Carnaval +Fev,42038091,Sheila,NaN,Ipanema,-22.988710,-43.193340,Private room,1000,3,1,28/09/2017,0.02,3,362,0,NaN
4,2.805324e+07,Navegar a Bordo de um Veleiro Francês no Rio!,193860988,Luciano,NaN,Urca,-22.950560,-43.171750,Private room,1850,2,0,NaN,NaN,1,180,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24876,6.499940e+17,Apartamento encantador no centro,184987752,Tatiane,NaN,Centro,-22.908390,-43.187100,Entire home/apt,251,1,0,NaN,NaN,1,358,0,NaN
24877,6.500060e+17,Apartamento encantador em Copacabana,327150319,Elisabeth,NaN,Copacabana,-22.966930,-43.181400,Entire home/apt,440,1,1,18/06/2022,1.00,2,358,1,NaN
24878,6.500110e+17,Apto em frente à praia com vista lateral mar,238604267,Claudia,NaN,Barra da Tijuca,-23.009351,-43.344853,Entire home/apt,380,1,0,NaN,NaN,12,90,0,NaN
24879,6.500210e+17,Apto com vista deslumbrante na Barra,238604267,Claudia,NaN,Barra da Tijuca,-23.008220,-43.343700,Entire home/apt,300,2,0,NaN,NaN,12,89,0,NaN
24880,6.500250e+17,Jumpinbed - Studio in Copacabana in front of t...,397106841,Jumpers,NaN,Copacabana,-22.976880,-43.189920,Entire home/apt,315,1,0,NaN,NaN,15,334,0,NaN

Reemplazo de nulos por columna

In [123]:
#Copia del dataset original
data2 = data.copy()
data2

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,1.787800e+04,"Very Nice 2Br in Copacabana w. balcony, fast WiFi",68997,Matthias,NaN,Copacabana,-22.965990,-43.179400,Entire home/apt,350,5,272,23/04/2022,1.87,1,311,8,NaN
1,5.569310e+17,Venha passar uma pernoite em um veleiro na Urca!,198206849,Andréia,NaN,Urca,-22.947810,-43.163510,Private room,280,1,1,19/02/2022,0.25,1,365,1,NaN
2,1.174007e+06,100% Best View In Copa In Suite 2,3962758,Thiago Luiz,NaN,Copacabana,-22.972770,-43.179660,Private room,107,2,177,07/06/2022,1.69,6,357,29,NaN
3,8.410797e+06,Ipanema(Arpoador) 100mdo Mar/ Jan & Carnaval +Fev,42038091,Sheila,NaN,Ipanema,-22.988710,-43.193340,Private room,1000,3,1,28/09/2017,0.02,3,362,0,NaN
4,2.805324e+07,Navegar a Bordo de um Veleiro Francês no Rio!,193860988,Luciano,NaN,Urca,-22.950560,-43.171750,Private room,1850,2,0,NaN,NaN,1,180,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24876,6.499940e+17,Apartamento encantador no centro,184987752,Tatiane,NaN,Centro,-22.908390,-43.187100,Entire home/apt,251,1,0,NaN,NaN,1,358,0,NaN
24877,6.500060e+17,Apartamento encantador em Copacabana,327150319,Elisabeth,NaN,Copacabana,-22.966930,-43.181400,Entire home/apt,440,1,1,18/06/2022,1.00,2,358,1,NaN
24878,6.500110e+17,Apto em frente à praia com vista lateral mar,238604267,Claudia,NaN,Barra da Tijuca,-23.009351,-43.344853,Entire home/apt,380,1,0,NaN,NaN,12,90,0,NaN
24879,6.500210e+17,Apto com vista deslumbrante na Barra,238604267,Claudia,NaN,Barra da Tijuca,-23.008220,-43.343700,Entire home/apt,300,2,0,NaN,NaN,12,89,0,NaN
24880,6.500250e+17,Jumpinbed - Studio in Copacabana in front of t...,397106841,Jumpers,NaN,Copacabana,-22.976880,-43.189920,Entire home/apt,315,1,0,NaN,NaN,15,334,0,NaN

In [124]:
#Cuántos nulos hay por columna
valores_nulos=data2.isnull().sum()
valores_nulos

id                                    0
name                                 21
host_id                               0
host_name                           117
neighbourhood_group               24881
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                        7668
reviews_per_month                  7668
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           24881
dtype: int64

In [125]:
#Sustituir los nulos de name, host_name, neighbourhood_group y license por el string "Desconocido"
data2["name"]=data2["name"].fillna("Unknown")
data2["host_name"]=data2["host_name"].fillna("Unknown")
data2["neighbourhood_group"]=data2["neighbourhood_group"].fillna("Unknown")
data2["license"]=data2["license"].fillna("Unknown")

In [126]:
#Sustituir los nulos de last_review con el string "No_reviews"
data2["last_review"]=data2["last_review"].fillna("No_reviews")

In [127]:
#Sustituir los nulos de number_of_reviews con el valor 0 porque son casos en los que NO HAY REVIEWS
data2["number_of_reviews"]=data2["number_of_reviews"].fillna(0)
data2["reviews_per_month"]=data2["reviews_per_month"].fillna(0)

In [128]:
#Comprobar que ya no haya datos faltantes
#Cuántos nulos hay por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

0

Sustitución de atípicos por distribución normal

In [129]:
#Copia del dataset sin nulos
data3 = data2.copy()
data3

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,1.787800e+04,"Very Nice 2Br in Copacabana w. balcony, fast WiFi",68997,Matthias,Unknown,Copacabana,-22.965990,-43.179400,Entire home/apt,350,5,272,23/04/2022,1.87,1,311,8,Unknown
1,5.569310e+17,Venha passar uma pernoite em um veleiro na Urca!,198206849,Andréia,Unknown,Urca,-22.947810,-43.163510,Private room,280,1,1,19/02/2022,0.25,1,365,1,Unknown
2,1.174007e+06,100% Best View In Copa In Suite 2,3962758,Thiago Luiz,Unknown,Copacabana,-22.972770,-43.179660,Private room,107,2,177,07/06/2022,1.69,6,357,29,Unknown
3,8.410797e+06,Ipanema(Arpoador) 100mdo Mar/ Jan & Carnaval +Fev,42038091,Sheila,Unknown,Ipanema,-22.988710,-43.193340,Private room,1000,3,1,28/09/2017,0.02,3,362,0,Unknown
4,2.805324e+07,Navegar a Bordo de um Veleiro Francês no Rio!,193860988,Luciano,Unknown,Urca,-22.950560,-43.171750,Private room,1850,2,0,No_reviews,0.00,1,180,0,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24876,6.499940e+17,Apartamento encantador no centro,184987752,Tatiane,Unknown,Centro,-22.908390,-43.187100,Entire home/apt,251,1,0,No_reviews,0.00,1,358,0,Unknown
24877,6.500060e+17,Apartamento encantador em Copacabana,327150319,Elisabeth,Unknown,Copacabana,-22.966930,-43.181400,Entire home/apt,440,1,1,18/06/2022,1.00,2,358,1,Unknown
24878,6.500110e+17,Apto em frente à praia com vista lateral mar,238604267,Claudia,Unknown,Barra da Tijuca,-23.009351,-43.344853,Entire home/apt,380,1,0,No_reviews,0.00,12,90,0,Unknown
24879,6.500210e+17,Apto com vista deslumbrante na Barra,238604267,Claudia,Unknown,Barra da Tijuca,-23.008220,-43.343700,Entire home/apt,300,2,0,No_reviews,0.00,12,89,0,Unknown
24880,6.500250e+17,Jumpinbed - Studio in Copacabana in front of t...,397106841,Jumpers,Unknown,Copacabana,-22.976880,-43.189920,Entire home/apt,315,1,0,No_reviews,0.00,15,334,0,Unknown

In [130]:
#Valores extremos: límite superior y límite inferior.
#Variable: minimum_nights.
x1=data3["minimum_nights"]
LS1= x1.mean() + 3*x1.std()
LI1= x1.mean() - 3*x1.std()
print("Limite superior permitido", LS1)
print("Limite inferior permitido", LI1)

Limite superior permitido 83.49075933419068
Limite inferior permitido -72.7739071176399

In [131]:
#Outliers de minimum_nights.
outliers_minimum_nights = data3[(x1>LS1)|(x1<LI1)]
len(outliers_minimum_nights)

215

In [132]:
#Primera sustitución: minimum_nights.
data3=data2[(x1<=LS1)&(x1>=LI1)] #Obtenemos datos sin outliers de price del DataFrame
data3["minimum_nights"]=data3["minimum_nights"].fillna(round(data2["minimum_nights"].mode(),0))

C:\Users\aremy\AppData\Local\Temp\ipykernel_25420\1392885103.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3["minimum_nights"]=data3["minimum_nights"].fillna(round(data2["minimum_nights"].mode(),0))

Generar .csv con datos limpios

In [133]:
#Convertir DataFrame limpio a CSV
clean_airbnb=data3.copy()
clean_airbnb.to_csv("clean_airbnb - Brazil.csv")

Filtros por tipo de habitación

In [135]:
#Filtros por tipo de habitación en varios csv diferentes para usarlo en Minitab
entire_home_apt_bra = data3[(data3["room_type"] == "Entire home/apt")]
entire_home_apt_bra.to_csv("Entire home apt - Bra.csv")

In [136]:
hotel_room_bra = data3[(data3["room_type"] == "Hotel room")]
hotel_room_bra.to_csv("Hotel room - Bra.csv")

In [137]:
priv_room_bra = data3[(data3["room_type"] == "Private room")]
priv_room_bra.to_csv("Private room - Bra.csv")

In [139]:
shared_room_bra = data3[(data3["room_type"] == "Shared room")]
shared_room_bra.to_csv("Shared room - Bra.csv")