## Limpieza Airbnb Chile

#### Importación de librerías y bases de datos

In [1]:
#Importamos las librerías que utilizaremos en nuestro proyecto 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import cufflinks as cf
from IPython.display import display,HTML
import seaborn as sns
#Se definen temas

In [46]:
#Leo mi archivo.csv
chile = pd.read_csv("Chile_airbnb_data.csv")
chile
chile_0 = chile.copy()
chile_0

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,102444,Safe and Comfortable apartment,535515,Joel,NaN,La Florida,-33.55981,-70.55494,Shared room,70443,1,0,NaN,NaN,1,365,0,NaN
1,49392,Share my Flat in Providencia,224592,Maria,NaN,Providencia,-33.43266,-70.60072,Private room,46669,3,0,NaN,NaN,2,178,0,NaN
2,24225724,ARRIENDO PIEZA EN CHICUREO,156055914,Juan Manuel,NaN,Quilicura,-33.30319,-70.69612,Private room,18357,5,0,NaN,NaN,1,179,0,NaN
3,25352401,Casa nicolas,190475718,Nicolas,NaN,La Pintana,-33.59622,-70.67131,Private room,10000,1,0,NaN,NaN,1,89,0,14824
4,33305262,Habitación con baño privado,250854540,Matias,NaN,La Florida,-33.56327,-70.55508,Private room,11500,1,1,2019-04-02,0.03,1,360,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8154,27459868,Alojamiento frente al Jumbo de Chamisero,3655121,Andrea,NaN,Huechuraba,-33.31748,-70.65082,Private room,20000,15,0,NaN,NaN,3,177,0,NaN
8155,26258140,Casa amplia y cómoda en Santiago,192110386,Marilu,NaN,Quilicura,-33.32434,-70.75552,Entire home/apt,124286,3,21,2021-11-18,0.44,1,71,2,NaN
8156,41380910,Casa Piscina Jardín Chamisero - 8 min de Vitacura,110039387,Stephanie,NaN,Huechuraba,-33.32342,-70.63119,Entire home/apt,70000,30,4,2021-03-14,0.14,1,356,0,NaN
8157,37525028,Habitación en San Bernardo,252327165,Luz,NaN,El Bosque,-33.56115,-70.70752,Private room,21000,1,11,2022-05-28,0.32,1,89,9,NaN
8158,622486466848046237,departamento equipado y con estacionamiento,297981081,Patricio,NaN,La Florida,-33.56725,-70.55532,Entire home/apt,40000,2,0,NaN,NaN,1,365,0,NaN

In [47]:
#Revisemos nuestra base de datos para identificar valores nulos 
valores_nulos=chile_0.isnull().sum()
valores_nulos

id                                   0
name                                 3
host_id                              0
host_name                            2
neighbourhood_group               8159
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       2439
reviews_per_month                 2439
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
license                           8043
dtype: int64

In [48]:
#Realizaremos diversos métodos para reemplazar los valores nulos en las columnas indicadas
#Comenzamos con la columna name 
chile_0["name"]= chile_0["name"].fillna("Unknown") 
#Columna host_name
chile_0["host_name"]= chile_0["host_name"].fillna("Unknown") 
#Neighbourhood
chile_0["neighbourhood_group"]= chile_0["host_name"].fillna("Unknown") 
#Last review
chile_0["last_review"] = chile_0["last_review"].fillna("No_reviews") 
#Reviews per month 
chile_0["reviews_per_month"]= chile_0["reviews_per_month"].fillna(0)
#License
chile_0["license"]= chile_0["license"].fillna("Unknown")
valores_nulos=chile_0.isnull().sum()
valores_nulos

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
number_of_reviews_ltm             0
license                           0
dtype: int64

In [49]:
#Comprobación 
valores_nulos_total=chile_0.isnull().sum().sum()
valores_nulos_total

0

#### Identificación de outliers desviación estandar

In [50]:
#Leo mi archivo.csv
chile_1 = chile_0.copy()

In [51]:
#Minimum_nights 
#Para ambas columnas utilizaremos el método de distribución normal 
#Comencemos identifi2cando los límites superiores e inferiores de los valores de la columna gnp_old
#Utilizaremos como límite 3 desviaciones estándar 
y=chile_1["minimum_nights"]
LS1= y.mean() + 3*y.std()
LI1= y.mean() - 3 *y.std()
print("Limite superior permitido", Limite_Superior)
print("Limite inferior permitido", Limite_Inferior)

Limite superior permitido 94.75438818027291
Limite inferior permitido -79.47776114264576

In [ ]:
#Una vez definidos los límites, encontramos los outliers de la columna
outliers_minn= chile_1[(y>Limite_Superior)|(y<Limite_Inferior)]
outliers_minn

In [64]:
#Sustituimos los outliers con el valor de la moda 
mode_chil = chile_1.loc[chile_1['minimum_nights']< 94.754, 'minimum_nights'].mode()
chile_1["minimum_nights"] = np.where(chile_1["minimum_nights"] >94.754,mode_chil ,chile_1['minimum_nights'])

In [65]:
len(chile_1)

8159

In [70]:
#Convertirmos el archivo tratado a csv
chile_1.to_csv("Chile_clean.csv")

#### Análisis de correlación entre variables

In [69]:
#Hacemos una copia de nuestro dataframe
chile_2 = chile_1.copy()

In [ ]:
#Encontramos todas las correlaciones entre las variables 
Corr_Factors=chile_2.corr()
Corr_Factors